<%- include('./../includes/header') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="text-align: center;">
            <img src="favicon.ico" style="width:40px; height:40px"/>
            <h2>course<strong>R</strong>us.com</h2>
            <br>
            <div class="form-box">
                <h4>ADMIN LOGIN</h4>
                <br>
                <form method="POST" action="/admin-login">
                    <div class="form-group">
                        <input type="email" name="email_id" class="form-control" placeholder="Enter Email ID">
                    </div>
                    <div class="form-group">
                        <input id="password" type="password" name="password" class="form-control" placeholder="Enter Password"><span id="passwordToggler" onclick="passwordToggler()" class="fas fa-eye form-control-icon"></span>
                        <% if(pass_err == true) {%>
                            <small style="color: red; text-align: left;" class="form-text">
                                Incorrect Password! Please try again.
                            </small>
                        <% } %>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <br>
                
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

<%- include('./../includes/footer') %>
