<%- include('./../includes/header') %>
<%- include('./../includes/navigation') %>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div style="padding-top: 50px; text-align: center;" class="col-md-6">
            <h2 >Login</h2>
            <div class="login-box">
                <form method="POST" action="">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Enter Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <br>
                <br>
                <p>Don't have an account? <a href="#">Sign Up</a></p>
            </div>
            
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<%- include('./../includes/footer') %>