<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/favicon.ico" style="width:36px; height:36px"/>
        course<strong>R</strong>us.com
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/shop">Shop</a>
            </li>
        </ul>
        
    </div>
</nav>
