<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="favicon.ico" style="width:36px; height:36px"/>
        course<strong>R</strong>us.com
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="navbar-nav mr-auto">

            <% if(session_data.isLoggedIn== true && session_data.mode=="admin") { %>
                <li class="nav-item">
                    <a class="nav-link <% if(pagePath=="/admin") { %> active <% } %>" href="/admin">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(pagePath.startsWith("/admin/manage-courses")) { %> active <% } %>" href="/admin/manage-courses">Manage Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(pagePath.startsWith("/admin/add-course")) { %> active <% } %>" href="/admin/add-course">Add Course</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link <% if(pagePath=="/") { %> active <% } %>" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(pagePath.startsWith("/courses")) { %> active <% } %>" href="/courses">Browse</a>
                </li>
                <% if(session_data.isLoggedIn== true && session_data.mode=="student") { %>
                    <li class="nav-item">
                        <a class="nav-link <% if(pagePath.startsWith("/my-courses")) { %> active <% } %>" href="/my-courses">My Courses</a>
                    </li>
                <% } %>
            <% } %>
        </ul>
        <ul class="navbar-nav mr-right">
            <% if(session_data.isLoggedIn== true) { %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Hello, <%= session_data.fname %></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <% if (session_data.mode == "student") { %>
                    <a class="dropdown-item" href="/cart">Cart</a>
                    <div class="dropdown-divider"></div>
                    <% } %>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
            <% } else { %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Hello. Sign in</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/signup">Signup</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin-login">Admin</a>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
</nav>
