<%- include('./includes/header') %>
<%- include('./includes/navigation') %>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Home Page</h2>
            <p>
                <i class="fas fa-sync-alt fa-spin"></i>
                <i class="fas fa-upload"></i>
            </p>
        </div>
    </div>
</div>
<%- include('./includes/footer') %>