<%- include('./includes/header') %>
<%- include('./includes/navigation') %>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <br>
            <h1>
                Welcome to<br>
                <img src="favicon.ico" style="width:50px; height:50px"/><br>
                course<strong>R</strong>us.com
            </h1>
            <br>
            <br>
            <p>
                <a href="/courses">Browse</a> for your favourite Trainings and Internships from one place!
            </p>
        </div>
    </div>
</div>
<%- include('./includes/footer') %>